/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


/* END CSS RESET */


*{
    font-family: 'Barlow', sans-serif;
}

a{
    position: absolute;
    z-index: 9999;
    left: 15px;
    top: 10px;
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: red;
    font-size: 30px;
}
img{
    display: block;
}






/* POSIZIONAMENTO BOTTONI SEMAFORI */
/* ------------------------------- */ 

.semaforo1{
    position: absolute;
    z-index: 9999;
    top:255px;
    left: 670px;
    height: 125px;
    width: 80px;
    border: none;
    background-color: rgba(0, 0, 0, 0.267);
}

.semaforo2{
    position: absolute;
    z-index: 9999;
    top:885px;
    left: 190px;
    height: 125px;
    width: 80px;
    border: none;
    background-color: rgba(0, 0, 0, 0.267);
}


/* STILIZZAZIONE FLAG INFORMATIVA */
/* ------------------------------ */                         


.flag{
    overflow: scroll;
    z-index: 9999;
    position: absolute;
    top: 40%;
    right: 5%;
    width: 58%;
    height: 55%;
    border-radius: 20px;
    box-shadow: 10px  10px 15px black;
    background-color: rgba(255, 255, 255, 0.75);
}

.flag-text{
    position: absolute;
    margin: 20px;
    top: 50px;
    left: 50px;
    width: 90%;
}
.flag-text h1{
    font-size: 48px;
    line-height: 100px;
}

.flag-text p{
    font-size: 30px;
}
/* --- */ 


/* STILIZZAZIONE PULSANTI DI CONTROLLO */
/* ----------------------------------- */  
.controlli{
    margin-top: 20px;
    text-align: center;
}

.controlli button{
    display: none;
    position: absolute;
    margin-top: 70px;
    background-color: transparent;
    position: initial;
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    color: red;
    font-size: 20px;
    width: 150px;
}

.controlli button:active{
    background-color: red;
    color: white;
}

.controlli p{
    width: 100%;
    position: absolute;
    top: 330px;
    left: 0;
    padding-bottom: 20px;
}

#nascondi{
    background-color: rgba(255, 0, 0, 0.822);
    color: white;
}

/* --- */ 